.home
    width: 100%
    padding: 0 5%

.navbar
    width: 100%
    height: 10vh
    display: flex
    justify-content: space-between
    align-items: center

    .title
        width: 20%
        font-size: 40px

    .logo
        font-size: 50px
        color: #ecbe23

    .links
        width: 50%
        display: flex

        justify-content: flex-end
        align-items: center
        list-style: none

        .link
            text-decoration: none

        li
            margin-right: 50px
            font-size: 18px
            color: #333333f8

        li:hover
            color: black
            font-weight: bold
            cursor: pointer
            transition: 0s !important

    .search
        padding: 10px
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid #36373880
        border-radius: 5px
        color: #36373880

        input
            width: 90%
            padding-left: 10px
            background: none
            border: none
            height: 2vh
            outline: none

.header
    width: 100%
    height: 85vh
    border-radius: 20px
    background-size: cover
    background-position: center
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-start
    padding: 100px

    h1
        transition: 1s
        font-size: 70px
        color: white !important

    .info
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 30px

        p
            color: white !important
            margin-right: 20px
        i
            margin-right: 10px
            color: #ecbe23

    .ratings
        display: flex
        justify-content: center
        align-items: center

    .rating
        padding: 6px 10px
        border: 1px solid #ecbe23
        background: #ecbe23
        border-radius: 5px
        font-weight: bold
        margin-right: 20px
        color: black !important

    .learn-more
        color: white !important
        padding: 6px 10px
        border: 1px solid white
        border-radius: 5px
        cursor: pointer
        transition: .3s

    .learn-more:hover
        background: white
        color: black !important
        transition: .3s

.fav
    list-style: none
    border-radius: 5px
    background: #ecbe23
    padding: 10px 15px
    cursor: pointer
    text-decoration: none
    color: black

.about
    list-style: none
    border-radius: 5px
    background: #3954ce
    color: white
    font-weight: bold
    padding: 10px 17px
    cursor: pointer

.fav:hover
    opacity: .9

@media only screen and (max-width: 930px)
    .home
        width: 100%
        height: 100vh
        padding: 0

        background: red

    .header
        width: 100%
        height: 100%
        border-radius: 20px
        background-size: cover
        background-position: center
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: flex-start
        padding: 50px

        h1
            transition: 1s
            font-size: 30px
            color: white !important
